.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  color: #ffffff;
}

.footer-section {
  display: flex;
  flex-direction: column; 
  padding: 30px;

}

.logo-section p {
  margin-top: 10px;
  font-size: 0.9rem;
  line-height: 1.5;
}

.social-icons a {
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.quick-links ul {
  list-style: none;
  padding: 10px;
}

.quick-links li {
  margin-bottom: 10px;
}

.quick-links a {
  color: #ffffff;
  text-decoration: none;
}

.contact-section p {
  margin: 5px 0;
}

.instagram-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.instagram-grid img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.footer-logo {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-section {
    align-items: center;
  }

  .instagram-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
